.App {
  background-color:rgb(50, 101, 134);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

#img{
  border-radius: 5px;
}

#video{
  border-radius: 5px;
}